:root {
  --main-brand-color-light: #2b7fff;
  --white-color: #ffffff;
  --main-brand-color-dark: #011c44;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--main-brand-color-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.section-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 48px;
}

/* header */
.link {
  color: var(--main-brand-color-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--main-brand-color-light);
}

/* hero section */
.hero-section {
  padding: 123px 0 126px;
}
.hero-title {
  color: var(--main-brand-color-light);
  text-transform: capitalize;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 0;
}
.hero-text {
  font-size: 12px;
}
.button-primary {
  color: var(--white-color);
  background-color: var(--main-brand-color-light);
  border: 2px solid var(--main-brand-color-light);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
}

.button-primary:hover {
  color: var(--main-brand-color-dark);
  background-color: transparent;
}

/* description section */
.descriprtion-section {
  padding-bottom: 176px;
}
.descriprtion-title {
  margin-bottom: 40px;
}
.description-text {
  font-size: 22px;
}

/* advantages section */
.advantages-section {
  padding-bottom: 96px;
}
.advantages-title {
}

/* procedures-section */
.procedures-section {
  padding-bottom: 96px;
}
.procedures-title {
}

/* contacts-section */
.contacts-section {
  padding-bottom: 96px;
}

/* footer */
.footer {
  font-size: 16px;
}
.accent {
  color: var(--main-brand-color-light);
}
.accent-dark {
  text-transform: capitalize;
  font-weight: 600;
}
